.search-component {
    position: relative;
  }
  
  .background-image {
    width: 100%;
    height: 50vh; 
    background-image: url('../assets/background.jpg'); 
    background-size: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar {
    width: 80%;
    max-width: 600px; 
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 10px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 20px; 
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  .search-bar button {
    padding: 8px 15px;
    border: none;
    background-color: #007bff; 
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .checkboxes {
    display: flex;
  }
  
  .checkboxes label {
    margin-right: 20px;
    font-size: 16px;
  }
  
  .checkboxes input[type="checkbox"] {
    margin-right: 5px;
  }
  